include ./mixins.pug

.creature.template.grid.gap-2
    .header.grid
        h1.primary.font-h1 
            |{{Name}}
        i.font-base.third {{#level}} Monster Level: {{level}} {{/level}}
        i.font-base.third.capitalize {{#size}} {{size}}. {{/size}} {{#tags}} {{tags}} {{/tags}}
    .body.font-base.third.grid.gap-4
        .attributes.grid.grid-flow-col.gap-2.w-full.h-full.auto-cols-min.justify-around
            -const coreAttributes = [["strength", null], ["dexterity", "reflexes"], ["endurance", "fortitude"], ["awareness", "anticipation"], ["intellect", "logic"], ["charisma", "willpower"]];
            each val in coreAttributes
                - const abr = val === "awareness" ? "AWR" : val[0].slice(0, 3).toUpperCase();
                - const [attr, derivedAttr] = val;
                .grid.gap-2.justify-center.items-start.auto-rows-min
                    .grid.justify-center.items-center.font-bold
                        span.uppercase.text-center #{abr}
                        span.text-center {{##{attr}}} {{#{attr}}} {{/#{attr}}}

                    .grid.grid-flow-col.gap-1.justify-center.items-center.font-bold
                        if derivedAttr
                            - const shortNames = derivedAttr.slice(0, 3);
                            span.capitalize.text-center #{shortNames}:
                            span.text-center {{##{derivedAttr}}} {{#{derivedAttr}}} {{/#{derivedAttr}}}                  
        .stats.grid.gap-2.w-full.h-full 
            .armor.grid.w-full.h-full.content-start.grid-flow-col.auto-rows-min
                .grid
                    each val in ["hp", "speed"]
                        .grid.gap-2.grid-flow-col.auto-cols-max.items-center
                            +statLabel(val)
                each val in ['armor_rating']
                    +statLabel(val)
            .resist.grid.grid-gap-2.w-full.h-full.content-start
                .resist.grid.gap-2.grid-flow-col.items-center.auto-cols-max
                    each val in ["resist", "immune"]
                        +statLabel(val)
                .vulnerable.grid.gap-2.grid-flow-col.items-center.auto-cols-max
                    each val in ["vulnerable"]
                        +statLabel(val)
                .grid.gap-2.grid-flow-col.items-center.auto-cols-max
                    each val in ["dr", "damage_reduction", "damage_threshold"]
                        - const label = val === 'dr' || val === 'damage_reduction' ? 'DR' :  'DT' ;
                        +statLabel(val, label, true)
                each val in [ "senses",  "traits"]
                    +statLabel(val)

        | {{#skills}}
        .grid.gap-2.w-full.h-full
            h2.uppercase.primary.text-center skills
            div
                |{{!skills}}
                span.mr-2 
                    span.font-bold {{[name]}} 
                    |({{[attribute]}}) 
                    | +{{[modifier]}},
                    | {{/skills}}
        | {{/skills}}


        | {{#features}}
        .grid.gap-2.w-full.h-full
            h2.uppercase.primary.text-center features

            |{{!features}}
            .grid.gap-1
                span 
                    strong {{[name]}}. 
                    | {{[description]}}
            | {{/features}}
        | {{/features}}


        | {{#actions}}
        .grid.gap-2.w-full.h-full
            h2.uppercase.primary.text-center actions

            |{{#action_description}}
            .grid
                |{{action_description}}
            |{{/action_description}}

            .grid.gap-1
                |{{!actions}}
                p
                    strong {{[name]}}. 

                    |{{[#range]}}
                    em {{[range]}}
                    |{{[/range]}}

                    |{{[#type]}}
                    em {{[type]}}.
                    |{{[/type]}}

                    |{{[#modifier]}}
                    span  +{{[modifier]}} vs 
                    |{{[/modifier]}}

                    |{{[#defense]}}
                    span {{[defense]}}.
                    |{{[/defense]}}
                    
                    | {{[#damage_average]}}
                    span {{[damage_average]}}
                    | {{[/damage_average]}}

                    | {{[#damage]}}
                    span ({{[damage]}})
                    | {{[/damage]}}

                    | {{[#damage_type]}}
                    span {{[damage_type]}}
                    | {{[/damage_type]}}

                    | {{[#effect]}}
                    span {{[effect]}}
                    | {{[/effect]}}

                | {{/actions}}
        | {{/actions}}
            
        | {{#reactions}}
        .grid.gap-2.w-full.h-full
            h2.uppercase.primary.text-center reactions

            |{{!reactions}}
            .grid
                strong {{[name]}}
                span {{[description]}}
            | {{/reactions}}
        | {{/reactions}}

